img{
    width: 100%;
    border: 5px solid white;
    
}
body{
    padding-top: 5%;
    background-color: black;
}
h1{
    color: white;
   
   
}
p{
    color: white;
   
}

div{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: "Libre Baskerville";
}